tr:nth-child(even) {
    background-color: #c5e3f2;
  }

tr:nth-child(odd) {
    background-color: #a1cde4;
  }

td {
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

th {
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #005693;
    color: white;
    font-size: 1.3rem;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background: #0076cb;
}
